# Exercice : analyse de données

## Import des données

Importer les 2 jeux de données all-ages.csv et recent-grads.csv

In [2]:
import pandas as pd

## Nettoyer all_ages

In [3]:
all_ages = pd.read_csv("Data/all-ages.csv")
all_ages.head()

,Major_code,Major,Major_category,Total,Employed,Employed_full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th
0,1100,GENERAL AGRICULTURE,Agriculture & Natural Resources,128148.0,90245.0,74078.0,2423.0,0.026147,50000.0,34000.0,80000.0
1,1101,AGRICULTURE PRODUCTION AND MANAGEMENT,Agriculture & Natural Resources,95326.0,76865.0,64240.0,2266.0,0.028636,54000.0,36000.0,80000.0
2,1102,AGRICULTURAL ECONOMICS,Agriculture & Natural Resources,33955.0,26321.0,22810.0,821.0,0.030248,63000.0,40000.0,98000.0
3,1103,ANIMAL SCIENCES,Agriculture & Natural Resources,103549.0,81177.0,64937.0,3619.0,0.042679,46000.0,30000.0,72000.0
4,1104,FOOD SCIENCE,Agriculture & Natural Resources,24280.0,17281.0,12722.0,894.0,0.049188,62000.0,38500.0,90000.0

In [4]:
all_ages.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173 entries, 0 to 172
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Major_code                     173 non-null    object
 1   Major                          171 non-null    object
 2   Major_category                 171 non-null    object
 3   Total                          171 non-null    float64
 4   Employed                       171 non-null    float64
 5   Employed_full_time_year_round  171 non-null    float64
 6   Unemployed                     171 non-null    float64
 7   Unemployment_rate              171 non-null    float64
 8   Median                         171 non-null    float64
 9   P25th                          171 non-null    float64
 10  P75th                          171 non-null    float64
dtypes: float64(8), object(3)
memory usage: 15.0+ KB

In [5]:
all_ages["Major_category"].isnull().sum()

2

In [6]:
all_ages = all_ages.dropna(axis = 0, subset = ["Major_category"])
all_ages["Major_category"].isnull().sum()

0

In [7]:
all_ages["Total"].isnull().sum()

0

In [8]:
all_ages["Unemployed"].isnull().sum()

0

In [9]:
all_ages["Employed"].isnull().sum()

0

## Importer et Nettoyer recent_grads

In [10]:
recent_grads = pd.read_csv("Data/recent-grads.csv")
recent_grads.head()

,Rank,Major_code,Major,Major_category,Total,Sample_size,Men,Women,ShareWomen,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,1,2419.0,PETROLEUM ENGINEERING,Engineering,2339.0,36.0,2057.0,282.0,0.120564,1976.0,...,270.0,1207.0,37.0,0.018381,110000.0,95000.0,125000.0,1534.0,364.0,193.0
1,2,2416.0,MINING AND MINERAL ENGINEERING,Engineering,756.0,7.0,679.0,77.0,0.101852,640.0,...,170.0,388.0,85.0,0.117241,75000.0,55000.0,90000.0,350.0,257.0,50.0
2,3,2415.0,METALLURGICAL ENGINEERING,Engineering,856.0,3.0,725.0,131.0,0.153037,648.0,...,133.0,340.0,16.0,0.024096,73000.0,50000.0,105000.0,456.0,176.0,0.0
3,4,2417.0,NAVAL ARCHITECTURE AND MARINE ENGINEERING,Engineering,1258.0,16.0,1123.0,135.0,0.107313,758.0,...,150.0,692.0,40.0,0.050125,70000.0,43000.0,80000.0,529.0,102.0,0.0
4,5,2405.0,CHEMICAL ENGINEERING,Engineering,32260.0,289.0,21239.0,11021.0,0.341631,25694.0,...,5180.0,16697.0,1672.0,0.061098,65000.0,50000.0,75000.0,18314.0,4440.0,972.0

In [11]:
recent_grads.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173 entries, 0 to 172
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Rank                  173 non-null    object
 1   Major_code            171 non-null    float64
 2   Major                 171 non-null    object
 3   Major_category        171 non-null    object
 4   Total                 171 non-null    float64
 5   Sample_size           171 non-null    float64
 6   Men                   171 non-null    float64
 7   Women                 171 non-null    float64
 8   ShareWomen            171 non-null    float64
 9   Employed              171 non-null    float64
 10  Full_time             171 non-null    float64
 11  Part_time             171 non-null    float64
 12  Full_time_year_round  171 non-null    float64
 13  Unemployed            171 non-null    float64
 14  Unemployment_rate     170 non-null    float64
 15  Median                171 non-null    float64
 16  P25th                 171 non-null    float64
 17  P75th                 171 non-null    float64
 18  College_jobs          171 non-null    float64
 19  Non_college_jobs      171 non-null    float64
 20  Low_wage_jobs         171 non-null    float64
dtypes: float64(18), object(3)
memory usage: 28.5+ KB

In [12]:
recent_grads["Major_category"].isnull().sum()

2

In [13]:
recent_grads[recent_grads["Major_category"].isnull()]

,Rank,Major_code,Major,Major_category,Total,Sample_size,Men,Women,ShareWomen,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
39,"40,5102,""NUCLEAR, INDUSTRIAL RADIOLOGY, AND BI...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,"76,5701,""ELECTRICAL, MECHANICAL, AND PRECISION...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
recent_grads.iloc[[39, 75]]

,Rank,Major_code,Major,Major_category,Total,Sample_size,Men,Women,ShareWomen,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
39,"40,5102,""NUCLEAR, INDUSTRIAL RADIOLOGY, AND BI...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,"76,5701,""ELECTRICAL, MECHANICAL, AND PRECISION...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
recent_grads = recent_grads.dropna(axis = 0, subset = ["Major_category"])
recent_grads["Major_category"].isnull().sum()

0

In [16]:
recent_grads["Total"].isnull().sum()

0

In [17]:
recent_grads["Unemployed"].isnull().sum()

0

In [18]:
recent_grads["Employed"].isnull().sum()

0

In [19]:
recent_grads["Low_wage_jobs"].isnull().sum()

0

## Calculer le nombre d'étudiants par catégorie de Major (Major_category) dans chaque dataset

#### Contraintes:
- Définir une fonction permettant ce calcul et prenant commme paramètre un dataframe. Quel est l'intérêt d'une telle solution ?
- Le refaire d'une seconde manière avec une méthode déjà vue et permettant d'obtenir des tableaux croisés à partir d'un dataframe...

In [20]:
# RAPPEL
# vous voulez sélection des colonnes pour certaines observations
# .loc[lignes, colonnes] -> avec noms de colonnes
# .iloc[lignes, colonnes] -> avec positions des colonnes

# juste sélectionner une ou plusieurs colonnes
# df[["nom1", "nom2"]]
# df["nom1"] <==> df.nom1

In [21]:
major_category = all_ages["Major_category"].unique()
major_category

array(['Agriculture & Natural Resources', 'Biology & Life Science',
       'Engineering', 'Humanities & Liberal Arts',
       'Communications & Journalism', 'Computers & Mathematics',
       'Industrial Arts & Consumer Services', 'Education',
       'Law & Public Policy', 'Interdisciplinary', 'Health',
       'Social Science', 'Physical Sciences', 'Psychology & Social Work',
       'Arts', 'Business'], dtype=object)

In [22]:
my_cat = all_ages[all_ages["Major_category"]=='Agriculture & Natural Resources']
my_cat["Total"].sum()

632437.0

In [23]:
pivot = pd.Series(index = major_category, dtype='float64')
def students_by_major(df):
    major_category = df["Major_category"].unique()
    for cat in major_category:
        my_cat = df[df["Major_category"]==cat]
        total = my_cat["Total"].sum()
        pivot[cat] = total
    pivot["Toutes categories"] = pivot.sum()
    return pivot

In [24]:
students_by_major(all_ages)

Agriculture & Natural Resources          632437.0
Biology & Life Science                  1338186.0
Engineering                             3576013.0
Humanities & Liberal Arts               3738335.0
Communications & Journalism             1803822.0
Computers & Mathematics                 1781378.0
Industrial Arts & Consumer Services     1018072.0
Education                               4700118.0
Law & Public Policy                      902926.0
Interdisciplinary                         45199.0
Health                                  2950859.0
Social Science                          2654125.0
Physical Sciences                       1013152.0
Psychology & Social Work                1987278.0
Arts                                    1805865.0
Business                                9858741.0
Toutes categories                      39806506.0
dtype: float64

In [25]:
students_by_major(recent_grads)

Agriculture & Natural Resources           79981.0
Biology & Life Science                   453862.0
Engineering                              537583.0
Humanities & Liberal Arts                713468.0
Communications & Journalism              392601.0
Computers & Mathematics                  299008.0
Industrial Arts & Consumer Services      227357.0
Education                                559129.0
Law & Public Policy                      179107.0
Interdisciplinary                         12296.0
Health                                   463230.0
Social Science                           529966.0
Physical Sciences                        183363.0
Psychology & Social Work                 481007.0
Arts                                     357130.0
Business                                1302376.0
Toutes categories                      46577970.0
dtype: float64

In [26]:
all_ages.pivot_table(index="Major_category", values=["Total"], aggfunc="sum")

                                         Total
Major_category
Agriculture & Natural Resources       632437.0
Arts                                 1805865.0
Biology & Life Science               1338186.0
Business                             9858741.0
Communications & Journalism          1803822.0
Computers & Mathematics              1781378.0
Education                            4700118.0
Engineering                          3576013.0
Health                               2950859.0
Humanities & Liberal Arts            3738335.0
Industrial Arts & Consumer Services  1018072.0
Interdisciplinary                      45199.0
Law & Public Policy                   902926.0
Physical Sciences                    1013152.0
Psychology & Social Work             1987278.0
Social Science                       2654125.0

In [27]:
recent_grads.pivot_table(index="Major_category", values=["Total"], aggfunc="sum")

                                         Total
Major_category
Agriculture & Natural Resources        79981.0
Arts                                  357130.0
Biology & Life Science                453862.0
Business                             1302376.0
Communications & Journalism           392601.0
Computers & Mathematics               299008.0
Education                             559129.0
Engineering                           537583.0
Health                                463230.0
Humanities & Liberal Arts             713468.0
Industrial Arts & Consumer Services   227357.0
Interdisciplinary                      12296.0
Law & Public Policy                   179107.0
Physical Sciences                     183363.0
Psychology & Social Work              481007.0
Social Science                        529966.0

## Taux de jobs à faible salaire

Utiliser les colonnes "Low_wage_jobs" et "Total" pour calculer la proportion de jeunes diplômés (donc recent_grads) qui ont du accepter des jobs à faible salaire. Interprétez ce résultat !

In [28]:
totaux_students = recent_grads[["Low_wage_jobs", "Total"]].sum()
low_wage = totaux_students[0]

totaux_all = totaux_students[1]
res = f"Jeunes diplômés à faible salaire = {round(low_wage / totaux_all * 100, 2)}%"
res

'Jeunes diplômés à faible salaire = 9.86%'

## Comparer les données : déterminer le nombre de Major pour lesquelles les jeunes diplômés ont un taux de chômage plus faible qu'en population générale

Indications :
- Créer un compteur
- Utiliser une boucle for pour parcourir toutes les majors.
>- Comparer les valeurs pour la colonne "Unemployment_rate" pour voir lequel des 2 DataFrames possèdent la valeur la plus basse
>- Incrémenter le compteur si la valeur pour Unemployment_rate est plus petite dans le dataframe recent_grads que dans le dataframe all_ages
- Afficher le résultat du compteur.
- On pourra aussi éventuellement stocker dans une liste les majors concernées

In [33]:
major_recent = recent_grads["Major"].unique()
major_all_age = all_ages["Major"].unique()
major_list = major_recent

for major in major_all_age :
    if major not in major_recent:
        major_list.append(major)

In [37]:
compt = 0
for major in major_list:
    filter1 = recent_grads['Major'] == major
    filter2 = all_ages['Major'] == major
    recent = float(recent_grads.loc[filter1, 'Unemployment_rate'])
    all = float(all_ages.loc[filter2,'Unemployment_rate'])
    if recent < all:
        compt+=1
compt

42

### Même question avec major_category
Il y a plusieurs observations par catégorie, on utilise donc la moyenne agrégée pour les diplômés récents et le reste des étudiants :

In [41]:
major_cat_recent = recent_grads["Major_category"].unique()
major_cat_all_age = all_ages["Major_category"].unique()
major_cat_list = list(major_cat_recent)

for major in major_cat_all_age :
    if major not in major_cat_recent:
        major_cat_list.append(major)

In [42]:
compt = 0
my_list = []
for major in major_cat_list:
    filter1 = recent_grads['Major_category'] == major
    filter2 = all_ages['Major_category'] == major
    recent = float(recent_grads[filter1].groupby("Major_category")['Unemployment_rate'].mean())
    all = float(all_ages[filter2].groupby("Major_category")['Unemployment_rate'].mean())
    if recent < all:
        compt += 1
        my_list.append(major)
compt
my_list, compt

(['Physical Sciences', 'Psychology & Social Work', 'Interdisciplinary'], 3)