# Exercice : analyse de données sur Thanksgiving

## Import des données

1ère étape habituelle : importer les librairies nécessaires, les données thanksgiving.csv et les afficher

In [2]:
import pandas as pd
import os
path = os.path.join('data', 'thanksgiving.csv')
thanks = pd.read_csv(path)
thanks.head(2)

,RespondentID,Do you celebrate Thanksgiving?,What is typically the main dish at your Thanksgiving dinner?,What is typically the main dish at your Thanksgiving dinner? - Other (please specify),How is the main dish typically cooked?,How is the main dish typically cooked? - Other (please specify),What kind of stuffing/dressing do you typically have?,What kind of stuffing/dressing do you typically have? - Other (please specify),What type of cranberry saucedo you typically have?,What type of cranberry saucedo you typically have? - Other (please specify),...,Have you ever tried to meet up with hometown friends on Thanksgiving night?,"Have you ever attended a ""Friendsgiving?""",Will you shop any Black Friday sales on Thanksgiving Day?,Do you work in retail?,Will you employer make you work on Black Friday?,How would you describe where you live?,Age,What is your gender?,How much total combined money did all members of your HOUSEHOLD earn last year?,US Region
0,4337954960,Yes,Turkey,NaN,Baked,NaN,Bread-based,NaN,None,NaN,...,Yes,No,No,No,NaN,Suburban,18 - 29,Male,"$75,000 to $99,999",Middle Atlantic
1,4337951949,Yes,Turkey,NaN,Baked,NaN,Bread-based,NaN,Other (please specify),Homemade cranberry gelatin ring,...,No,No,Yes,No,NaN,Rural,18 - 29,Female,"$50,000 to $74,999",East South Central

In [3]:
thanks.shape

(1058, 65)

In [4]:
thanks.dtypes

RespondentID                                                                              int64
Do you celebrate Thanksgiving?                                                           object
What is typically the main dish at your Thanksgiving dinner?                             object
What is typically the main dish at your Thanksgiving dinner? - Other (please specify)    object
How is the main dish typically cooked?                                                   object
                                                                                          ...
How would you describe where you live?                                                   object
Age                                                                                      object
What is your gender?                                                                     object
How much total combined money did all members of your HOUSEHOLD earn last year?          object
US Region                                                                                object
Length: 65, dtype: object

## Filtrage des données

- Comptez le nombre de personne qui célèbrent Thanksgiving.  
- Conservez dans votre dataframe uniquement les individus qui célèbrent Thanksgiving.  
>Indications :
>- Il existe une méthode Series.value_counts()
>- La colonne 'Do you celebrate Thanksgiving?' devrait être utile
>- Pour rappel, on peut tout à fait réaffecter une partie d'un dataframe à la variable contenant ce dataframe

In [7]:
question1 = "Do you celebrate Thanksgiving?"
thanks[question1].unique()

def count_thanks(df, question):
    result = df[question].value_counts()
    return result

result = count_thanks(thanks, question1)
f"{result[0]} persons celebrate thanksgiving, {result[1]} don't. "

"980 persons celebrate thanksgiving, 78 don't. "

In [8]:
filter = (thanks[question1] == 'Yes')
thanks = thanks[filter]
thanks.shape

(980, 65)

## Exploration des données : les repas de Thanksgiving

- Utiliser la méthode Series.value_counts() pour afficher combien de fois chaque résultat apparaît pour la question 'What is typically the main dish at your Thanksgiving dinner?'.
- Afficher les colonnes 'What is typically the main dish at your Thanksgiving dinner?' et 'Do you typically have gravy?' pour les individus qui mangent du 'Tofurkey' (la dinde de tofu).

In [10]:
question2 = 'What is typically the main dish at your Thanksgiving dinner?'
result = count_thanks(thanks, question2)
result

Turkey                    859
Other (please specify)     35
Ham/Pork                   29
Tofurkey                   20
Chicken                    12
Roast beef                 11
I don't know                5
Turducken                   3
Name: What is typically the main dish at your Thanksgiving dinner?, dtype: int64

In [11]:
question3 = 'Do you typically have gravy?'
filter = (thanks[question2] == 'Tofurkey')
tofurkey = thanks.loc[filter, [question2, question3]]
tofurkey

,What is typically the main dish at your Thanksgiving dinner?,Do you typically have gravy?
4,Tofurkey,Yes
33,Tofurkey,Yes
69,Tofurkey,No
72,Tofurkey,No
77,Tofurkey,Yes
145,Tofurkey,Yes
175,Tofurkey,Yes
218,Tofurkey,No
243,Tofurkey,Yes
275,Tofurkey,No
393,Tofurkey,Yes
399,Tofurkey,Yes
571,Tofurkey,Yes
594,Tofurkey,Yes
628,Tofurkey,No
774,Tofurkey,No
820,Tofurkey,No
837,Tofurkey,Yes
860,Tofurkey,No
953,Tofurkey,Yes

## Convertir l'âge en une valeur numérique

- Ecrire une fonction permettant de convertir les valeurs de la colonne 'Age' en valeur numérique, à savoir la moyenne entre l'âge inférieur et l'âge supérieur des tranches d'âges utilisées. Cette fonction prendra donc en paramètre une chaine de caractères (les valeurs actuelles de la colonne 'Age') et retournera la moyenne des deux âges de chaque tranche.
> Indications (si vous voulez vous pouvez faire sans bien sûr !) :
>- Faire en sorte que la fonction ne retourne rien (cf None) si les valeurs sont nulles
>- Remplacer le caractère '+' avec une chaine de caractères vide en remplacement pour le supprimer (méthode replace())
>- Séparer les chaines de caractères (méthode split()) pour en extraire les bornes d'age
>- utiliser int() pour convertir le résultat en entier
>- Retourner le résultat
- Utiliser la méthode Series.apply() pour appliquer la fonction à chaque valeur de la colonne 'Age' du dataframe data et créer une nouvelle variable age_num.
- Appeler la méthode Series.describe() sur la colonne 'age_num'.

In [12]:
thanks['Age'].value_counts()

45 - 59    269
60+        258
30 - 44    235
18 - 29    185
Name: Age, dtype: int64

In [13]:
thanks['Age'] = thanks['Age'].fillna('')

In [14]:
def conversion(age_str):
    if age_str == '':
        return None
    else:
        if age_str == '60+':
            return int(age_str[:2])
        else:
            somme = int(age_str[:2]) + int(age_str[-2:])
            return  int(somme / 2)
conversion('24 - 32')

28

In [15]:
thanks['age_num'] = thanks['Age'].apply(conversion)
thanks['age_num']

0       23.0
1       23.0
2       23.0
3       37.0
4       37.0
        ...
1053    37.0
1054    60.0
1055    60.0
1056     NaN
1057     NaN
Name: age_num, Length: 980, dtype: float64

In [16]:
thanks['age_num'].value_counts()

52.0    269
60.0    258
37.0    235
23.0    185
Name: age_num, dtype: int64

In [17]:
thanks['age_num'].describe()

count    947.000000
mean      44.791975
std       13.630972
min       23.000000
25%       37.000000
50%       52.000000
75%       60.000000
max       60.000000
Name: age_num, dtype: float64

On a une estimation de la moyenne d'age des personnes qui ont répondu au questionnaire de 45 ans.

## Convertir les revenus en valeurs numériques

Appliquer exactement la même méthodologie pour convertir le revenu (colonne 'How much total combined money did all members of your HOUSEHOLD earn last year?') en valeur numérique.  
Nommer la nouvelle variable 'income_num'.

In [18]:
question4 = 'How much total combined money did all members of your HOUSEHOLD earn last year?'
thanks[question4].value_counts()

$25,000 to $49,999      166
$75,000 to $99,999      127
$50,000 to $74,999      127
Prefer not to answer    118
$100,000 to $124,999    109
$200,000 and up          76
$10,000 to $24,999       60
$0 to $9,999             52
$125,000 to $149,999     48
$150,000 to $174,999     38
$175,000 to $199,999     26
Name: How much total combined money did all members of your HOUSEHOLD earn last year?, dtype: int64

In [19]:
thanks[question4] = thanks[question4].fillna('')
thanks[question4].count()

980

In [20]:
def conversion_revenue(string):
    if string =="Prefer not to answer" or string =='':
        return None
    else:
        if " and up" in string:
            result = string.replace(" and up", "")
            result = result[1:].split(',')
            return int(result[0] + result[1])
        elif string == "$0 to $9,999":
            return 5000
        else:
            string_split = string.split(" to ")
            number1 = string_split[0][1:].split(',')
            number1 = int(number1[0] + number1[1])
            number2 =  string_split[1][1:].split(',')
            number2 = int(number2[0] + number2[1])
            return int((number1 + number2)/2)
conversion_revenue("$0 to $9,999")

5000

In [21]:
thanks['income_num'] = thanks[question4].apply(conversion_revenue)
thanks['income_num'].value_counts()

37499.0     166
87499.0     127
62499.0     127
112499.0    109
200000.0     76
17499.0      60
5000.0       52
137499.0     48
162499.0     38
187499.0     26
Name: income_num, dtype: int64

In [22]:
thanks['income_num'].describe()

count       829.000000
mean      86485.885404
std       57789.469160
min        5000.000000
25%       37499.000000
50%       87499.000000
75%      112499.000000
max      200000.000000
Name: income_num, dtype: float64

revenu moyen de $86K. Mais Std importante donc répartition des revenus très étalée.

## Corrélation entre distance et revenus

- Regarder de quelle manière les personnes gagnant moins de 100000 dollars voyagent.
> _Indications :_ Utiliser les variables 'int_income' et 'How far will you travel for Thanksgiving?'
- Faire de même avec les personnes gagnant plus de 100000 dollars.

In [23]:
question5 = 'How far will you travel for Thanksgiving?'
thanks[question5].value_counts()

Thanksgiving is happening at my home--I won't travel at all                         396
Thanksgiving is local--it will take place in the town I live in                     276
Thanksgiving is out of town but not too far--it's a drive of a few hours or less    197
Thanksgiving is out of town and far away--I have to drive several hours or fly       82
Name: How far will you travel for Thanksgiving?, dtype: int64

In [24]:
thanks[question5].count()

951

In [25]:
thanks[question5].describe()

count                                                   951
unique                                                    4
top       Thanksgiving is happening at my home--I won't ...
freq                                                    396
Name: How far will you travel for Thanksgiving?, dtype: object

In [26]:
filter = thanks['income_num'] < 100000
thanks.loc[filter, [question5]].value_counts()

How far will you travel for Thanksgiving?
Thanksgiving is happening at my home--I won't travel at all                         205
Thanksgiving is local--it will take place in the town I live in                     163
Thanksgiving is out of town but not too far--it's a drive of a few hours or less    126
Thanksgiving is out of town and far away--I have to drive several hours or fly       38
dtype: int64

In [40]:
thanks.loc[~filter, [question5]].value_counts()

How far will you travel for Thanksgiving?
Thanksgiving is happening at my home--I won't travel at all                         191
Thanksgiving is local--it will take place in the town I live in                     113
Thanksgiving is out of town but not too far--it's a drive of a few hours or less     71
Thanksgiving is out of town and far away--I have to drive several hours or fly       44
dtype: int64

In [46]:
pivot = thanks[filter].pivot_table(index=[question5], values = ["income_num"], aggfunc=['mean', 'count'], 
                                   margins=True)



#total = pivot.loc['All', ('count', 'income_num')]
#pivot['percentage_income'] = pivot[('count', 'income_num')] / total * 100
#pivot

In [50]:
def pct(series):
    tot = series['All']
    return(np.round(series/tot *100), 2)

In [51]:
pct(pivot[('count', 'income_num')])

(How far will you travel for Thanksgiving?
 Thanksgiving is happening at my home--I won't travel at all                          39.0
 Thanksgiving is local--it will take place in the town I live in                      31.0
 Thanksgiving is out of town and far away--I have to drive several hours or fly        7.0
 Thanksgiving is out of town but not too far--it's a drive of a few hours or less     24.0
 All                                                                                 100.0
 Name: (count, income_num), dtype: float64,
 2)

In [52]:
pivot_high = thanks[~filter].pivot_table(index=[question5], values = ["income_num"], aggfunc=['mean', 'count'], 
                                         margins=True)
#total_high = pivot_high.loc['All', ('count', 'income_num')]
#pivot_high['percentage_income'] = pivot_high[('count', 'income_num')] / total_high * 100
pct(pivot_high[('count', 'income_num')])

(How far will you travel for Thanksgiving?
 Thanksgiving is happening at my home--I won't travel at all                          48.0
 Thanksgiving is local--it will take place in the town I live in                      25.0
 Thanksgiving is out of town and far away--I have to drive several hours or fly       11.0
 Thanksgiving is out of town but not too far--it's a drive of a few hours or less     16.0
 All                                                                                 100.0
 Name: (count, income_num), dtype: float64,
 2)

Il ne semble pas si clair que les revenus soient liés aux déplacements loin. Certainement la tradition familiale est ce qui guide le plus les choix.

## Lien entre passer Thanksgiving entre amis avec l'âge et le revenu

- Générer un pivot de table pour regarder la moyenne d'âge des sondés pour chaque catégorie des questions 'Have you ever tried to meet up with hometown friends on Thanksgiving night?' et 'Have you ever attended a "Friendsgiving?"'.
> _Indications :_ utiliser les colonnes 'Have you ever tried to meet up with hometown friends on Thanksgiving night?','Have you ever attended a "Friendsgiving?"' et 'age_num'
- Faire de même pour les revenus avec ces 2 questions.

In [57]:
question6 = 'Have you ever tried to meet up with hometown friends on Thanksgiving night?'
question7 = 'Have you ever attended a "Friendsgiving?"'

In [60]:
thanks.pivot_table(index=[question6], columns = [question7], values='age_num', aggfunc='mean')

Have you ever attended a "Friendsgiving?"                  No        Yes
Have you ever tried to meet up with hometown fr...
No                                                  46.645875  41.926316
Yes                                                 46.289617  39.424419

In [63]:
thanks.pivot_table(index=[question6], columns=[question7], values='income_num', aggfunc='mean')

Have you ever attended a "Friendsgiving?"                     No           Yes
Have you ever tried to meet up with hometown fr...
No                                                  89456.420323  83124.197368
Yes                                                 89552.702381  76314.973684

Fête essentiellement familiale. Revenus les plus bas qui le fêtent avec des amis.